.section {
  padding: 80px 0;

  &__title {
    font-weight: 300;
    font-size: 48px;
    color: $color-dark;
    text-align: center;
    margin-bottom: 45px;
  }

  &__quote {
    font-size: 0.556em;

    &_left {
      margin-right: 10px;
    }

    &_right {
      margin-left: 10px;
    }
  }

  &__description {
    margin: -30px 0 45px;
    font-weight: 300;
    color: $color-light2;
    font-size: 20px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.025em;
  }
}
