/*--- COLORS ---*/
$color-white   : #fff;
$color-black   : #000;
$color-dark    : #23272c;
$color-light   : #818b95;
$color-light2  : #b7cce1;
$color-medium  : #4a4f55;
$color-blue    : #578dc0;
$color-blue2   : #03c2c6;
$color-blue3   : #01c5c7;
$color-orange  : #ff9801;
$color-gray    : #dadada;
$color-gray2   : #959595;
$color-footer  : #f6f8f9;
$color-footer2 : #232c30;
