section.section.advantages
  .container
    h2.section__title
      i.fa.fa-angle-double-left.section__quote.section__quote_left
      | Доверяют только тому, кто надежен
      i.fa.fa-angle-double-right.section__quote.section__quote_right
    p.section__description
      | — такому принципу мы руководтствуемся в повседневной работе.
      br
      | В сотрудничестве с нами Вы вправе рассчитывать на:
      
    .advantages__block
      .advantages__item.advantage
        .advantage__icon
          img(src='img/icons/cup.png')
        h3.advantage__title Исключительное качество
        p.advantage__text Вся представленная продукциия наивысшего качества
        a(href='#').advantage__more Подробнее
      .advantages__item.advantage
        .advantage__icon
          img(src='img/icons/lord.png')
        h3.advantage__title Высокая квалификация
        p.advantage__text Все наши сотрудники — мастера своего дела
        a(href='#').advantage__more Подробнее
      .advantages__item.advantage
        .advantage__icon
          img(src='img/icons/men.png')
        h3.advantage__title Индивидуальный подход
        p.advantage__text Мы уделяем внимание каждому клиенту и каждому проекту
        a(href='#').advantage__more Подробнее
