section.section.contacts
  .container
    h2.section__title.contacts__title Свяжитесь с нами
    .contacts__block
      .contacts__item.contact
        .contact__icon
          img(src='img/icons/marker.png')
        h3.contact__title Адрес
        p.contact__text
          | Москва, ул. 13-я Парковая, 27,
          br
          | к.1, оф. 117
      .contacts__item.contact
        .contact__icon
          img(src='img/icons/phone.png')
        h3.contact__title Телефон
        p.contact__text
          | 8 (495) 783-89-42 (многоканальный)
          br
          | 8 (499) 350-29-14
      .contacts__item.contact
        .contact__icon
          img(src='img/icons/envelope-open.png')
        h3.contact__title E-mail
        p.contact__text
          a(href='mailto:np_okna@mail.ru') np_okna@mail.ru
      .contacts__item.contact
        .contact__icon
          img(src='img/icons/clock.png')
        h3.contact__title Режим работы
        p.contact__text
          | ПН - СБ: 10.00-19.00
          br
          | ВС: выходной
