footer.footer
  section.footer__top.section
    .container
      .footer__block
        .footer__info
          a.footer__logo
            img(src='img/logo-gray.png')
          .footer__text
            p Изготовление и установка окон (пластиковых, алюминиевых, деревянных), остекление лоджий, остекление балконов. Пластиковые окна veka.
            p
              a(href='#') Обработка данных
        .footer__menu
          .footer__menu_column
            ul.footer__menu_list
              li.footer__menu_title Окна
              li.footer__menu_item
                a(href='#').footer__menu_link Окна VEKA
              li.footer__menu_item
                a(href='#').footer__menu_link Стеклокомпозитные
              li.footer__menu_item
                a(href='#').footer__menu_link Алюминиевые
            ul.footer__menu_list
              li.footer__menu_title Балконы и ладжии
              li.footer__menu_item
                a(href='#').footer__menu_link Остекление
              li.footer__menu_item
                a(href='#').footer__menu_link Отделка
          .footer__menu_column
            ul.footer__menu_list
              li.footer__menu_title Прочие услуги
              li.footer__menu_item
                a(href='#').footer__menu_link Художественные витражи
              li.footer__menu_item
                a(href='#').footer__menu_link Офисные перегородки
              li.footer__menu_item
                a(href='#').footer__menu_link Жалюзи и рольставни
              li.footer__menu_item
                a(href='#').footer__menu_link Вентиляция нового поколения
          .footer__menu_column
            ul.footer__menu_list
              li.footer__menu_title Информация
              li.footer__menu_item
                a(href='#').footer__menu_link ГОСТы
              li.footer__menu_item
                a(href='#').footer__menu_link Новости
              li.footer__menu_item
                a(href='#').footer__menu_link Информация
              li.footer__menu_item
                a(href='#').footer__menu_link Стоимость
              li.footer__menu_item
                a(href='#').footer__menu_link Акции
              li.footer__menu_item
                a(href='#').footer__menu_link Вакансии
              li.footer__menu_item
                a(href='#').footer__menu_link Контакты
  .footer__bottom
    .container
      .footer__block
        .footer__copyright © 2007-2017 ООО «Надежный партнер»
        .footer__creater
          include creater 
