.main
  .main__block.container
    h1.section__title.main__title
      i.fa.fa-angle-double-left.section__quote.section__quote_left
      | Надежный партнер
      i.fa.fa-angle-double-right.section__quote.section__quote_right
    p.main__text Изготовление и установка пластиковых окон, остекление балконов и лоджий в точности с вашими требованиями, на самом высоком уровне и в срок.
    .main__buttons
      a(href='#').main__button
        img(src='img/icons/roulette.png').main__button_icon
        | Вызвать замерщика
      a(href='#').main__button
        img(src='img/icons/call.png').main__button_icon
        | Заказать звонок
