nav.header__menu.menu
  ul.menu__list
    li.menu__item.menu__item_has-dropdown
      a(href='#').menu__link
        | Окна
        i.fa.fa-angle-down.menu__caret
      ul.menu__dropdown.dropdown
        li.dropdown__item
          a(href='#').dropdown__link
            i.fa.fa-angle-right
            | Отделка балконов и лоджий
        li.dropdown__item
          a(href='#').dropdown__link
            i.fa.fa-angle-right
            | Художественные витражи
        li.dropdown__item
          a(href='#').dropdown__link
            i.fa.fa-angle-right
            | Офисные перегородки
        li.dropdown__item
          a(href='#').dropdown__link
            i.fa.fa-angle-right
            | Жалюзи и рольставни
        li.dropdown__item
          a(href='#').dropdown__link
            i.fa.fa-angle-right
            | Сервис, ремонт окон
    li.menu__item.menu__item_has-dropdown
      a(href='#').menu__link
        | Балконы и лоджии
        i.fa.fa-angle-down.menu__caret
      ul.menu__dropdown.dropdown
        li.dropdown__item
          a(href='#').dropdown__link
            i.fa.fa-angle-right
            | Отделка балконов и лоджий
        li.dropdown__item
          a(href='#').dropdown__link
            i.fa.fa-angle-right
            | Художественные витражи
        li.dropdown__item
          a(href='#').dropdown__link
            i.fa.fa-angle-right
            | Офисные перегородки
        li.dropdown__item
          a(href='#').dropdown__link
            i.fa.fa-angle-right
            | Жалюзи и рольставни
        li.dropdown__item
          a(href='#').dropdown__link
            i.fa.fa-angle-right
            | Сервис, ремонт окон
    li.menu__item
      a(href='#').menu__link Стоимость
    li.menu__item.menu__item_has-dropdown
      a(href='#').menu__link
        | Прочие услуги
        i.fa.fa-angle-down.menu__caret
      ul.menu__dropdown.dropdown
        li.dropdown__item
          a(href='#').dropdown__link
            i.fa.fa-angle-right
            | Отделка балконов и лоджий
        li.dropdown__item
          a(href='#').dropdown__link
            i.fa.fa-angle-right
            | Художественные витражи
        li.dropdown__item
          a(href='#').dropdown__link
            i.fa.fa-angle-right
            | Офисные перегородки
        li.dropdown__item
          a(href='#').dropdown__link
            i.fa.fa-angle-right
            | Жалюзи и рольставни
        li.dropdown__item
          a(href='#').dropdown__link
            i.fa.fa-angle-right
            | Сервис, ремонт окон
    li.menu__item
      a(href='#').menu__link.menu__link_selected
        i.fa.fa-gift.menu__icon
        | Акции
    li.menu__item.menu__item_has-dropdown
      a(href='#').menu__link
        | Информация
        i.fa.fa-angle-down.menu__caret
      ul.menu__dropdown.dropdown.dropdown_last
        li.dropdown__item
          a(href='#').dropdown__link
            i.fa.fa-angle-right
            | Отделка балконов и лоджий
        li.dropdown__item
          a(href='#').dropdown__link
            i.fa.fa-angle-right
            | Художественные витражи
        li.dropdown__item
          a(href='#').dropdown__link
            i.fa.fa-angle-right
            | Офисные перегородки
        li.dropdown__item
          a(href='#').dropdown__link
            i.fa.fa-angle-right
            | Жалюзи и рольставни
        li.dropdown__item
          a(href='#').dropdown__link
            i.fa.fa-angle-right
            | Сервис, ремонт окон
      
