ul.header__navigation.navigation
  li.navigation__item
    a(href='#').navigation__link О нас
  li.navigation__item
    a(href='#').navigation__link Вакансии
  li.navigation__item
    a(href='#').navigation__link Новости
  li.navigation__item
    a(href='#').navigation__link Контакты
