section.section.offer
  .offer__block.container
    .offer__info
      h2.section__title Окна напрямую от производителя в Москве
      a(href='#').offer__callback.offer__callback_online
        img(src='img/icons/comment.png')
        | Задать вопрос
      .offer__offers
        h3 Что мы предлагаем
        ul
          li
            i.fa.fa-angle-right
            a(href='#') Пластиковые окна
          li
            i.fa.fa-angle-right
            a(href='#') Алюминиевые окна
          li
            i.fa.fa-angle-right
            a(href='#') Остекление балконов и лоджий
    .offer__text
      p Компания «Надежный партнер» предлагает широкий ассортимент окон высокого качества и услуги по их установке. У нас вы сможете заказать окна из пластикового и алюминиевого профиля мировых брендов. Менеджеры компании будут рады помочь вам в выборе и при оформлении заказа учтут все ваши пожелания.
      p Обратившись в нашу компанию, вы сможете быть уверены в том, что ваш заказ будет выполнен в точности с вашими требованиями, на самом высоком уровне и в срок. Основными приоритетами в нашей работе являются оперативность, индивидуальный подход и строгое соблюдение технологии изготовления окон и их монтажа. В нашей компании имеется собственный цех по сборке окон, оснащенный новейшим оборудованием, а в составе бригад монтажников трудятся только квалифицированные специалисты с опытом работы более 7 лет.
      p.big Поставка надежных окон и профессиональный монтаж — главный принцип нашей компании.
