section.slider.container
  .slider__nav
  .carousel.owl-carousel
    a(href='#').carousel__item
      img(src='img/banners/banner-1.png')
    a(href='#').carousel__item
      img(src='img/banners/banner-2.png')
    a(href='#').carousel__item
      img(src='img/banners/banner-2.png')
