doctype html
html
  head
    title OknaNP
    link(href='css/styles.min.css' rel='stylesheet' property='stylesheet')
  body
    include components/header
    include components/main
    include components/offer
    include components/slider
    include components/advantages
    include components/contacts
    include components/footer
      
    script(src='js/main.min.js')
